* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

body {
  font-family: 'Agne';
  font-weight: 400;
  -ms-touch-action: none;
  touch-action: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }
  a:hover, a:focus, a:active {
    outline: 0; }

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto; }

input[type='text']:focus::-webkit-input-placeholder,
input[type='tel']:focus::-webkit-input-placeholder,
input[type='email']:focus::-webkit-input-placeholder,
input[type='password']:focus::-webkit-input-placeholder,
input[type='search']:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent !important; }

input[type='text']:focus::-moz-placeholder,
input[type='tel']:focus::-moz-placeholder,
input[type='email']:focus::-moz-placeholder,
input[type='password']:focus::-moz-placeholder,
input[type='search']:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-moz-placeholder,
input[type='tel']:focus:-moz-placeholder,
input[type='email']:focus:-moz-placeholder,
input[type='password']:focus:-moz-placeholder,
input[type='search']:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent !important; }

input[type='text']:focus:-ms-input-placeholder,
input[type='tel']:focus:-ms-input-placeholder,
input[type='email']:focus:-ms-input-placeholder,
input[type='password']:focus:-ms-input-placeholder,
input[type='search']:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent !important; }

html, body,
div, span,
applet, object,
iframe, h1,
h2, h3,
h4, h5,
h6, p,
blockquote, pre,
a, abbr,
acronym, address,
big, cite,
code, del,
dfn, em,
img, ins,
kbd, q, s,
samp, small,
strike, strong,
sub, sup,
tt, var,
b, u, i,
center, dl,
dt, dd,
ol, ul, li,
fieldset, form,
label, legend,
table, caption,
tbody, tfoot,
thead, tr,
th, td, article,
aside, canvas,
details, embed,
figure, figcaption,
footer, header,
hgroup, menu,
nav, output,
ruby, section,
summary, time,
mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'RegularWeb';
  src: url("../fonts/webregular/regular-web.woff2"), url("../fonts/webregular/regular-web.woff"); }

@font-face {
  font-family: 'BoldWeb';
  src: url("../fonts/webbold/web-bold.woff2"), url("../fonts/webbold/web-bold.woff"); }

@media screen and (max-width: 1023px) {
  .service_box-wrap {
    padding-bottom: 30px !important; }
  .servie_box {
    padding-bottom: 0; }
  .service_box-txt {
    padding-bottom: 50px; } }

@media screen and (max-width: 767px) {
  .header {
    font-size: 30px !important; }
  .service_header {
    font-size: 30px !important; } }

@media screen and (max-width: 1023px) {
  .team_box {
    padding-bottom: 60px !important; }
  .team_box-navigation {
    text-align: center;
    padding-bottom: 23px; }
  .team_box-navigation-padding {
    padding-left: 20px; } }

@media screen and (max-width: 767px) {
  .team_header {
    font-size: 30px !important; } }

@media screen and (max-width: 1023px) {
  .skill {
    padding-bottom: 60px !important; }
  .skill_box {
    padding-bottom: 30px; }
  .port_btn {
    margin-bottom: 60px !important; } }

@media screen and (max-width: 767px) {
  .skill {
    padding-bottom: 30px !important; }
  .skill_header {
    font-size: 30px !important; }
  .skill_box {
    margin-bottom: 60px !important; } }

@media screen and (max-width: 767px) {
  .port_header {
    font-size: 30px !important; }
  .port_box-image {
    width: 60% !important;
    display: inline-block; }
  .port_btn {
    margin-bottom: 60px !important; } }

@media screen and (max-width: 1023px) {
  .niceform {
    float: left;
    margin-left: 70px;
    width: 80%; }
  .sub_enter-wrap {
    margin: 0 !important; }
  .sub_name {
    width: 40% !important; }
  .sub_email {
    width: 40% !important; }
  .sub_massage-wrap {
    margin: 0 !important; }
  .sub_massage {
    width: 80% !important; }
  .sub_btn {
    margin-bottom: 60px !important; } }

@media screen and (max-width: 767px) {
  .sub_header {
    font-size: 30px !important; }
  .niceform {
    float: left !important;
    padding-bottom: 30px; }
  .sub_name {
    margin-right: 10px !important; } }

* {
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both; }

.welcome {
  background: #86539a;
  padding-top: 70px;
  text-align: center; }
  .welcome .welcome_icon {
    float: left;
    margin-left: 61px; }
  .welcome .welcome_nav {
    float: right;
    margin-right: 35px; }
    .welcome .welcome_nav .welcome_nav-list {
      width: 77px;
      height: 32px;
      display: inline-block;
      font-family: "RegularWeb";
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      padding-top: 7px;
      margin-left: 5px;
      margin-top: 7px;
      cursor: pointer; }
      .welcome .welcome_nav .welcome_nav-list:hover {
        background: #643d78;
        border-radius: 5px; }
    .welcome .welcome_nav .welcome_nav-link {
      color: #ffffff; }
  .welcome .header {
    padding: 140px 0 54px 0;
    color: #f7f3ea;
    font-family: "RegularWeb";
    font-size: 42px;
    font-weight: 700;
    line-height: 48.82px; }
  .welcome .welcome_btn {
    width: 293px;
    height: 70px;
    margin-bottom: 146px;
    background-color: #eb7d4b;
    border: none;
    box-shadow: -2px 5px 4px 0px rgba(0, 0, 0, 0.15); }
    .welcome .welcome_btn:hover {
      box-shadow: none; }
    .welcome .welcome_btn .welcome_btn-link {
      font-family: "RegularWeb";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin: 0;
      color: #ffffff; }

.service {
  background-color: #17c2a4;
  text-align: center;
  padding-top: 119px; }
  .service .service_header {
    font-family: "RegularWeb";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    color: #ffffff;
    position: relative;
    padding-bottom: 13px; }
  .service .service_line {
    text-align: center;
    display: inline-block;
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15; }
  .service .service_txt {
    font-family: "RegularWeb";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin: 0;
    color: #ffffff;
    padding-top: 13px; }
  .service .service_box-wrap {
    margin-top: 83px;
    padding-bottom: 128px; }
    .service .service_box-wrap .service_box-title-A {
      font-family: "RegularWeb";
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      color: #ffffff;
      padding-top: 60px; }
    .service .service_box-wrap .service_box-title-B {
      font-family: "RegularWeb";
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      color: #ffffff;
      padding-top: 48px; }
    .service .service_box-wrap .service_box-title-C {
      font-family: "RegularWeb";
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      color: #ffffff;
      padding-top: 53px; }
    .service .service_box-wrap .service_box-title-D {
      font-family: "RegularWeb";
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      color: #ffffff;
      padding-top: 35px; }
    .service .service_box-wrap .service_box-txt {
      font-family: "RegularWeb";
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.32px;
      text-align: center;
      color: #ffffff;
      margin-top: 27px; }

.team {
  background-color: #e7f1f8;
  padding-top: 119px;
  text-align: center; }
  .team .team_header {
    font-family: "RegularWeb";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    color: #3c4761;
    padding-bottom: 13px;
    margin: 0; }
  .team .team_line {
    text-align: center;
    display: inline-block;
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15; }
  .team .team_txt {
    color: #3c4761;
    font-family: "RegularWeb";
    font-size: 19px;
    font-weight: 400;
    line-height: 26.84px;
    letter-spacing: 0.36px;
    padding: 13px 0 78px 0;
    margin: 0; }
  .team .team_box {
    padding-bottom: 128px; }
  .team .team_box-name {
    font-family: "RegularWeb";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.48px;
    color: #27283d;
    padding: 41px 0 15px 0;
    margin: 0; }
  .team .team_box-link {
    color: #30bae7;
    font-family: "RegularWeb";
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.32px; }
  .team .team_box-txt {
    font-family: "RegularWeb";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin: 0;
    color: #3c4761;
    margin: 0;
    padding: 30px 0 36px 0; }
  .team .team_box-navigation {
    display: inline-block; }
  .team .team_box-navigation-padding {
    padding-left: 8px;
    display: inline-block; }
  .team .team_box-list {
    margin-right: 10px;
    float: left;
    width: 32px;
    height: 32px;
    background-color: #bdd1df;
    border-radius: 50%;
    list-style: none;
    padding: 6px;
    cursor: pointer; }

.skill {
  background-color: #ffffff;
  padding: 117px 0 122px 0;
  text-align: center; }
  .skill .skill_header {
    font-family: "RegularWeb";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    color: #3c4761;
    margin: 0;
    padding-bottom: 13px; }
  .skill .skill_line {
    text-align: center;
    display: inline-block;
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15; }
  .skill .skill_txt {
    font-family: "RegularWeb";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin: 0;
    color: #3c4761;
    padding: 13px 0 84px 0; }
  .skill .skill_box-wrap .skill_box-img {
    padding-bottom: 32px; }
  .skill .skill_box-wrap .skill_box-link {
    color: #3c4761;
    font-family: "RegularWeb";
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.48px; }

.port {
  background-color: #fedc9d;
  padding-top: 120px;
  text-align: center; }
  .port .port_header {
    font-family: "RegularWeb";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    color: #393939;
    padding-bottom: 13px; }
  .port .port_line {
    text-align: center;
    display: inline-block;
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15; }
  .port .port_txt {
    font-family: "RegularWeb";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin: 0;
    color: #393939;
    padding: 13px 0 54px 0; }
  .port .port_nav {
    display: inline-block;
    text-align: center;
    padding-bottom: 62px; }
    .port .port_nav .port_list {
      font-family: "RegularWeb";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin: 0;
      display: inline-block;
      cursor: pointer;
      width: 84px;
      height: 38px;
      background-color: #eacb91;
      border-radius: 5px;
      padding: 5px;
      margin-left: 5px; }
      .port .port_nav .port_list:hover {
        background-color: #ffffff; }
      .port .port_nav .port_list .port_link {
        color: #393939; }
  .port .port_box-img {
    width: 96%; }
  .port .port_box-txt {
    font-family: "RegularWeb";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin: 0;
    color: #393939;
    padding: 25px 0 65px 0; }
  .port .port_btn {
    width: 293px;
    height: 70px;
    background-color: #17c2a4;
    padding: 18px;
    margin: 18px 0 110px 0;
    border: none;
    box-shadow: -2px 5px 4px 0px rgba(0, 0, 0, 0.15); }
    .port .port_btn:hover {
      box-shadow: none; }
    .port .port_btn .port_btn-link {
      font-family: "RegularWeb";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin: 0;
      color: #ffffff; }

.people {
  padding-top: 119px;
  background-color: #d54980;
  text-align: center; }
  .people .people_header {
    font-family: "RegularWeb";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    color: #ffffff;
    padding-bottom: 13px; }
  .people .people_line {
    text-align: center;
    display: inline-block;
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15; }
  .people .people_txt {
    font-family: "RegularWeb";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin: 0;
    padding: 13px 0 70px 0;
    color: #ffffff; }
  .people .people_box-image-wrap {
    float: left;
    margin-right: 48px; }
  .people .people_box-txt--wrap {
    text-align: left;
    margin-left: 30px; }
    .people .people_box-txt--wrap .people_box-txt {
      text-align: left;
      color: #ffffff;
      font-family: "RegularWeb";
      font-size: 18px;
      font-style: italic;
      line-height: 31.2px;
      letter-spacing: 0.35px;
      margin: 0; }
    .people .people_box-txt--wrap .people_box-txt--header {
      font-family: "RegularWeb";
      font-size: 24px;
      font-weight: 700;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 0.48px;
      text-align: left;
      color: #ffffffff;
      padding-top: 28px;
      margin: 0 0 0 145px; }
    .people .people_box-txt--wrap .people_box-second--txt {
      color: #ffdd99;
      font-family: "RegularWeb";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin: 9px 0 158px 145px; }
    .people .people_box-txt--wrap .box-margin {
      margin-bottom: 125px; }

.sub {
  padding-top: 120px;
  background-color: #3e5697;
  text-align: center; }
  .sub ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffffff; }
  .sub ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffffff; }
  .sub :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffffff; }
  .sub :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffffff; }
  .sub .sub_header {
    font-family: "RegularWeb";
    font-size: 40px;
    font-weight: 700;
    line-height: 29.91px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    color: #ffffffff;
    padding-bottom: 13px; }
  .sub .sub_line {
    text-align: center;
    display: inline-block;
    width: 87px;
    height: 4px;
    background-color: #000000;
    opacity: 0.15;
    color: #000; }
  .sub .sub_txt {
    font-family: "RegularWeb";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.36px;
    margin: 0;
    color: #ffffffff;
    padding: 13px 0 76px 0; }
  .sub .sub_enter-wrap {
    margin-left: 75px; }
    .sub .sub_enter-wrap .niceform .sub_name {
      font-family: "RegularWeb";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin: 0;
      color: #ffffffff;
      width: 44%;
      height: 56px;
      background-color: #273a71;
      border: none;
      margin-right: 40px; }
    .sub .sub_enter-wrap .niceform .sub_email {
      font-family: "RegularWeb";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin: 0;
      color: #ffffffff;
      width: 44%;
      height: 56px;
      background-color: #273a71;
      border: none; }
  .sub .sub_massage-wrap {
    margin-left: 73px;
    padding-top: 27px; }
    .sub .sub_massage-wrap .sub_massage {
      font-family: "RegularWeb";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin: 0;
      color: #ffffffff;
      width: 92.3%;
      height: 200px;
      background-color: #273a71;
      border: none; }
  .sub .sub_btn {
    width: 293px;
    height: 70px;
    background-color: #30bae7;
    border: none;
    box-shadow: -2px 5px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 59px 0 115px 0; }
    .sub .sub_btn:hover {
      box-shadow: none; }
    .sub .sub_btn .sub_btn-link {
      font-family: "RegularWeb";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.36px;
      margin: 0;
      color: #ffffffff; }

.footer {
  padding-top: 49px;
  background-color: #364d8c;
  text-align: center; }
  .footer .footer-nav .footer_list {
    display: inline-block;
    padding-left: 50px;
    font-family: "BoldWeb";
    font-size: 24px;
    font-weight: 400;
    line-height: 29.91px;
    letter-spacing: 0.48px; }
    .footer .footer-nav .footer_list .footer_link {
      color: #ffffff; }
      .footer .footer-nav .footer_list .footer_link:hover {
        color: #30bae7; }

/*# sourceMappingURL=main.css.map */
