//SERVICE

@media screen and (max-width: 1023px) {

  .service_box-wrap {
    padding-bottom: 30px;
  }
  .servie_box {
    padding-bottom: 0;
  }
   .service_box-txt {
     padding-bottom: 50px;
   }
}

@media screen  and (max-width: 767px) {

  .header {
    font-size: 30px;
  }
  .service_header {
    font-size: 30px;
  }
}

//TEAM

@media screen and (max-width: 1023px) {

  .team_box {
    padding-bottom: 60px;

  }

  .team_box-navigation {
    text-align: center;
    padding-bottom: 23px;
  }

  .team_box-navigation-padding {
    padding-left: 20px;
  }

}

@media screen and (max-width: 767px) {
  .team {

    .team_header {
      font-size: 30px;
      color: pink;
      
    }
  }
}

//SKILLS

@media screen and (max-width: 1023px) {

  .skill {
    padding-bottom: 60px;
  }
  .skill_box {
    padding-bottom: 30px;
  }

  .port_btn {
    margin-bottom: 60px;
  }

}

@media screen  and (max-width: 767px) {

  .skill {
    padding-bottom: 30px;
  }
  .skill_header {
    font-size: 30px;
  }

  .skill_box {
    margin-bottom: 60px;
  }
}

//PORTFOLIO

@media screen and (max-width: 1023px) {


}

@media screen  and (max-width: 767px) {

  .port_header {
    font-size: 30px;
  }
  .port_box-image {
    width: 60%;
    display: inline-block;
  }

  .port_btn{
    margin-bottom: 60px;
  }
}

//PEOPLE

@media screen and (max-width: 1023px) {

  .people_box-txt--wrap {

  }
  .people_box-txt {
    font-size: 15px ;
  }

  .people_box-txt--header{
    padding-left: 142px;
    margin: 0 ;
    font-size: 20px;
  }

  .people_box-second--txt {
    margin: 0;
    padding: 10px 0 60px 142px;
    font-size: 17px;
  }

  .box-margin {
    margin: 0;
    padding-bottom: 60px;


  }
}

@media screen  and (max-width: 767px) {

  .people_header {
    font-size: 30px ;
  }
  .people_box-img {
    margin-left: 50px;
  }

  .people_box-txt--header{
    padding-left: 195px;
    margin: 0 ;
  }

  .people_box-second--txt {
    margin: 0;
    padding: 10px 0 60px 195px ;
  }

  .box-margin {
    margin: 0 ;
    padding-bottom: 60px;


  }
}

//SUB

@media screen and (max-width: 1023px) {

  .niceform {
    float: left;
    margin-left: 70px;
    width: 80%;
  }

  .sub_enter-wrap {
    margin: 0;
  }

  .sub_name {
    width: 40% ;
  }

  .sub_email {
    width: 40% ;
  }

  .sub_massage-wrap {
    margin: 0 ;
  }

  .sub_massage {
    width: 80%;
  }

  .sub_btn {
    margin-bottom: 60px;
  }
}



@media screen  and (max-width: 767px) {


  .sub_header {
    font-size: 30px;
  }
  .niceform {
    float:  left;
    padding-bottom: 30px;
  }

  .sub_name{
    margin-right: 10px;
  }
}
































