//SERVICE

@media screen and (max-width: 1023px) {

  .service_box-wrap {
    padding-bottom: 30px !important;
  }
  .servie_box {
    padding-bottom: 0;
  }
   .service_box-txt {
     padding-bottom: 50px;
   }
}

@media screen  and (max-width: 767px) {

  .header {
    font-size: 30px !important;
  }
  .service_header {
    font-size: 30px !important;
  }
}

//TEAM

@media screen and (max-width: 1023px) {

  .team_box {
    padding-bottom: 60px !important;

  }

  .team_box-navigation {
    text-align: center;
    padding-bottom: 23px;
  }

  .team_box-navigation-padding {
    padding-left: 20px;
  }

}

@media screen  and (max-width: 767px) {

  .team_header {
    font-size: 30px !important;
  }
}

//SKILLS

@media screen and (max-width: 1023px) {

  .skill {
    padding-bottom: 60px !important;
  }
  .skill_box {
    padding-bottom: 30px;
  }

  .port_btn {
    margin-bottom: 60px !important;
  }

}

@media screen  and (max-width: 767px) {

  .skill {
    padding-bottom: 30px !important;
  }
  .skill_header {
    font-size: 30px !important;
  }

  .skill_box {
    margin-bottom: 60px !important;
  }
}

//PORTFOLIO

@media screen and (max-width: 1023px) {


}

@media screen  and (max-width: 767px) {

  .port_header {
    font-size: 30px !important;
  }
  .port_box-image {
    width: 60% !important;
    display: inline-block;
  }

  .port_btn{
    margin-bottom: 60px !important;
  }
}

//PEOPLE

@media screen and (max-width: 1023px) {

  //.people_box-txt--wrap {
  //
  //}
  //.people_box-txt {
  //  font-size: 15px !important;
  //}
  //
  //.people_box-txt--header{
  //  padding-left: 142px !important;
  //  margin: 0 !important;
  //  font-size: 20px !important;
  //}
  //
  //.people_box-second--txt {
  //  margin: 0 !important;
  //  padding: 10px 0 60px 142px;
  //  font-size: 17px !important;
  //}
  //
  //.box-margin {
  //  margin: 0 !important;
  //  padding-bottom: 60px;
  //
  //
  //}
}

@media screen  and (max-width: 767px) {

  //.people_header {
  //  font-size: 30px !important;
  //}
  //.people_box-img {
  //  margin-left: 50px !important;
  //}
  //
  //.people_box-txt--header{
  //  padding-left: 195px !important;
  //  margin: 0 !important;
  //}
  //
  //.people_box-second--txt {
  //  margin: 0 !important;
  //  padding: 10px 0 60px 195px ;
  //}
  //
  //.box-margin {
  //  margin: 0 !important;
  //  padding-bottom: 60px;
  //
  //
  //}
}

//SUB

@media screen and (max-width: 1023px) {

  .niceform {
    float: left;
    margin-left: 70px;
    width: 80%;
  }

  .sub_enter-wrap {
    margin: 0 !important;
  }

  .sub_name {
    width: 40% !important;
  }

  .sub_email {
    width: 40% !important;
  }

  .sub_massage-wrap {
    margin: 0 !important;
  }

  .sub_massage {
    width: 80% !important;
  }

  .sub_btn {
    margin-bottom: 60px !important;
  }
}



@media screen  and (max-width: 767px) {


  .sub_header {
    font-size: 30px !important;
  }
  .niceform {
    float:  left !important;
    padding-bottom: 30px;
  }

  .sub_name{
    margin-right: 10px !important;
  }
}
































